.header {
  height: 55px;
  display: flex;
  background: white;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 232, 232);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.middle {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.hamburger {
  height: 25px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube {
  height: 25px;
}

.search-button {
  height: 36px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;
}

.voice-search {
  height: 36px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: lightgray;
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}
.search-bar {
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-family: Arial;
  font-size: 16px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}

.currentuser-icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.notifications-set {
  position: relative;
}
.notifications-count {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  top: -2px;
  right: -5px;
  font-size: 10px;
  padding: 2px 5px;
}
