.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-links {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-links:hover {
  background-color: rgb(239, 235, 235);
}

.sidebar-links img {
  height: 24px;
  margin-bottom: 5px;
}
.sidebar-links div {
  font-size: 12px;
}
